<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Bernard</title>

        <style type="text/css">
            html {
                width: 100%;
            }

            body {
                width: 100%;
                font-family: 'Times New Roman', Times, serif;
                font-size: 12px;
                background-color: #fff;
                color: #333;
            }
        </style>
    </head>

    <body>
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td><h1>New Order Placed</h1></td>
            </tr>

            <tr>
                <td>
                    <b>Name:</b> {{ order.firstName }} {{ order.lastName }}<br>
                    <b>Address:</b> {{ order.address }}<br>
                    <b>Zip and Area:</b> {{ order.zipcode }} {{ order.area }}<br>
                    <b>E-mail:</b> {{ order.email }}<br>
                    <b>Phone:</b> {{ order.pNumber }}
                </td>
            </tr>

            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td><b>Item</b></td>
                            <td><b>Price</b></td>
                            <td><b>Quantity</b></td>
                            <td><b>Total</b></td>
                        </tr>
                        
                        {% for item in order.items.all %}
                            {% if item.seller == seller %}
                                <tr>
                                    <td>{{ item.item.title }}</td>
                                    <td>${{ item.item.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>${{ item.get_total_cost }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>